/* CSS BY Valerie Cockman*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*,
*::before
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --midnight-blue: #1f2a44;
    --olive-green: #76885b;
    --champagne-gold: #e5c185;
    --linen: #f8f4ec;
    --dark-charcoal: #2b2b2b;
    --soft-white: #faf9f6;
}